<!DOCTYPE html>
<html>
<head>
    <title>Planos para {{ municipio }}</title>
</head>
<body>
    <h1>Planos para {{ municipio }}</h1>

    {% if planos %}
        <ul>
        {% for plano in planos %}
            <li>
                <h2>{{ plano.nome }}</h2>
                <p><strong>Categoria:</strong> {{ plano.categoria }}</p>
                <p><strong>Início do prazo:</strong> {{ plano.inicio_prazo }}</p>
                <p><strong>Fim do prazo:</strong> {{ plano.final_prazo }}</p>
                <p><strong>Introdução:</strong> {{ plano.introducao }}</p>

                <!-- Botão Leia mais -->
                <a href="{% url 'plano_detail' municipio=municipio id_plano=plano.pk %}" class="btn btn-primary">Leia mais</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum plano encontrado para {{ municipio }}.</p>
    {% endif %}

    <a href="{% url 'criar_plano' municipio=municipio %}">Criar Novo Plano</a>
    <a href="{% url 'register' %}">Cadastrar</a>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>
